/* CSS Document */

.wpopup{
	position:fixed;
	top:0px;
	left:0px;
	z-index:9998;
	background:rgba(255,255,255,0.6);
	/*background:transparent url(opacity30.png);*/
	width:100%;
	height:100%;
	
	
	
}


.wpopup .janela{
	width:900px;
	position:relative; 
	display:block;
	top:50%; 
	left:50%; 
	margin-top:-300px; 
	margin-left:-450px; 
	background:transparent;
	z-index:9999;
	
	padding:0px;
	border-spacing:0px; 
	
	/*border: 8px solid rgba(210,210,210,0.4);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px; */
	border: 1px solid rgba(0,0,0,.333);

	/*-webkit-box-shadow: 0px 10px 18px 0px rgba(50, 50, 50, 0.84);
	-moz-box-shadow:    0px 10px 18px 0px rgba(50, 50, 50, 0.84);
	box-shadow:         0px 10px 18px 0px rgba(50, 50, 50, 0.84);*/
	box-shadow: 0 4px 16px rgba(0,0,0,.2);
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

 }
 


.wpopup .conteudo{
	overflow-y:auto;
	display:block;
	height:100%;
	max-height:520px;
	min-height:200px;
	background:#fff;
	padding:20px;
	width:100%;
	
	/*border-left:1px solid #ccc;
	border-right:1px solid #ccc;*/
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}	

.wpopup.small .janela{
	width:450px;
	top:50%; 
	left:50%; 
	margin-top:-300px; 
	margin-left:-225px; 
}

.wpopup.small .conteudo{
	max-height:400px;
}

	 
 .wpopup .barra {
	width:100%;
	/*height:45px;*/
	position:relative;
	top:0px;
	left:0px;
	display:block;
	cursor:pointer;
	background:#eeeeee;/*369*/
	border-bottom:1px solid #ccc;
	
	padding:13px 15px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	/*-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;*/
	
	overflow:hidden;

	 }
	 
	.wpopup .barra.danger{background: #990404 !important;}
	
 .wpopup .barra .titulo {

	 color:#616161;
	 font-size:13px; 
	 font-weight:bold;
	 /*text-shadow: 0 -1px 0 #282828;
	 padding: 8px 0px 0px 10px;*/
	 display:block;
	 text-transform:uppercase;
	 font-style:italic;
	 }	


	   
 .wpopup .barra .fechar{
	 width:50px;
	 height:100%;
	 position:absolute;
	 right:0px;
	 top:0px;
	 cursor:auto;
	 background:url(close-x.png) no-repeat center;
	 }
 .wpopup .barra .fechar:hover{
	opacity: 0.7;
	filter: alpha(opacity=70);
	 }
	

	 
.wpopup .action{
	border-top:1px solid #ccc;
	padding:15px;
	text-align:right;
	color:#777;
	position:relative;
	background:#eee;
	display:block;
	height:40px;
	
	/*border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
	
}



	
